body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

a {
    color: #4fa1ff;
    text-decoration: none;
}

table {
    width: 100%;
    text-align: left;
}

code {
    font-family: sans-serif;
    font-size: 5px;
    color: #00a900;
    background-color: #f2f2f2;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 2px;
}

.content {
    margin: 15px;

    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.header {
    padding: 0 20px;
    height: 100px;

    background-color: #bdbdbd;
    box-shadow: 0 0 5px #929292;
}

.header img {
    vertical-align: middle;
    /*padding: 0 5px;*/
    background-color: #ffffff;
    box-shadow: 0 0 10px #929292;
}

.header h1 {
    line-height: 50px;
    color: white;
    width: calc(100% - 210px);
    display: inline-block;
    margin: 0;
}

.explorer {
    margin: 30px 20px;
}

.explorer th {
    background: #565656;
    color: white;
}

.explorer tr:nth-of-type(odd) {
    background: #d8d8d8;
}

.explorer tr:nth-of-type(even) {
    background: #fafafa;
}

.package-info {
    padding: 30px;
}

.markdown {
    padding: 30px;
}

#searchBar {
    width: 200px;
    display: inline-block;
    border: none;
    height: 30px;
    background: #f3f3f3;
    border-radius: 4px;
    padding: 1px;
}
