<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Package Explorer - {{ path }}</title>
  <link rel="stylesheet" href="/tritium/static/css/style.css">
</head>
<body>
<div class="header">
  <h1>
    <img src="/tritium/static/img/logo.png" height="100">
    Package Explorer
  </h1>
</div>
<div class="explorer">
  <table>
    <tr>
      <th>PackageName</th>
      <th>Author</th>
      <th>Version</th>
      <th>UpdateTime</th>
    </tr>
    <tr>
      <td>Test Package</td>
      <td>Hateful_Carre1</td>
      <td>0.9.1</td>
      <td>2018-2-1 19:38:22</td>
    </tr>
  </table>
</div>
</body>
</html>