<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Package Explorer
        </title>
        <link rel="stylesheet" href="/tritium/static/css/style.css">
        <style id="searchStyle">

        </style>
    </head>
    <body>
        <div class="content">
            <div class="header">
                <h1>
                    <img src="/tritium/static/img/logo.png" height="100">
                    Package Explorer
                </h1>
                <input type="text" id="searchBar" placeholder="回车以搜索" />
            </div>
            <div class="explorer">
                <table>
                    <tr>
                        <th>PackageName
                        </th>
                        <th>Author
                        </th>
                        <th>Version
                        </th>
                        <th>UpdateDate
                        </th>
                    </tr>
                    {% for data in package_list %}
                    <tr class="list-item" keyword="{{ data['name'].lower() }}">
                        <td>
                            <a href="/tritium/{{ data['license'] }}">{{ data["name"] }}
                            </a>
                        </td>
                        <td>
                            {{ data["author"] }}
                        </td>
                        <td>
                            {{ data["latest"] }}
                        </td>
                        <td>
                            {{ data["updatadate"] }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <script>
            var searchBar = document.getElementById("searchBar");
            var searchStyle = document.getElementById("searchStyle");
            searchBar.onkeyup = function(e){
                var keyNum = window.event ? e.keyCode : e.which;
                if(keyNum == 13){
                    var searchBarValue = searchBar.value.trim().toLowerCase();
                    if(searchBarValue == "") {
                        searchStyle.innerHTML = "";
                    } else {
                        searchStyle.innerHTML = ".list-item[keyword*='" + searchBarValue + "'] {display: table-row;}.list-item {display: none;}";
                    }
                }
            }
        </script>
    </body>
</html>
